@model Mission_12.Models.ViewModels.TimeSlotViewModel
<div class="text-center">
    <h1 class="display-4">The Bilton (Bezos-Hilton) Project</h1>
    @foreach (TimeSlot t in Model.TimeSlots)
    {

           <a class="btn" asp-for="Home" asp-action="Form" asp-route-time="@t.Time" asp-route-date="@t.Date">@t.Time</a>
           <br />
    }
</div>